{% extends 'layout.html' %}

{% block content %}

<section class="header">
  <h1>Chris Harpe</h1>
  <p>Seeking Software Engineering opportunities with Tesla.</p>
  <img
    src="https://images.squarespace-cdn.com/content/v1/6387975ad81f46699cdd6b05/92517bc7-92b7-4a2d-b2dc-0cad75a0f05b/IMG_5615.JPG?format=2500w"
    alt="Headshot of myself">
</section>
<section id="about-page">
  <div id="triangle7"></div>
  <div id="triangle8"></div>
  <h2>Abstract</h2>
  <p>
    Please enjoy this portfolio engineered by Chris Harpe. With a diverse background as a
    general contractor, Chris brings a unique perspective to the world of coding. Inspired by the potential of
    technology, Chris aspires to push boundaries by building self-replicating robots capable of constructing larger
    scale products, including houses. Fascinated by automated manufacturing and artificial intelligence, Chris is
    dedicated to leveraging Python's power to create innovative solutions. Combining real-world experience with coding
    expertise, Chris aims to bridge the gap between physical construction and cutting-edge technology. Explore this
    portfolio to witness Chris's journey in transforming ideas into tangible, digital realities.
  </p>
  <a href="https://linkedin.com/in/4chrisharpe"><i class="far fa-file"></i>Resume</a>
</section>

{% endblock %}