{% extends 'layout.html' %}

{% block content %}
<section class="header">
    <h1>{{ project.title }}</h1>
    <p>Date Published: {{ project.date }}</p>
    <a href="{{ project.repo_url }}" class="github-btn">
        <i class="fab fa-github"></i>
        View Repository
    </a>
    <h2>Skills:</h2>
    <ul>
        {% for skill in project.skills.split(', ') %}
        <li>{{ skill }}</li>
        {% endfor %}
    </ul>
</section>
<section id="project-desc">
    <div id="triangle5"></div>
    <h2>Description</h2>
    <p>
        {{ project.description }}
    </p>
    <div id="triangle6"></div>
</section>
<section id="edit-delete">
    <a href="{{ url_for('edit_project', id=project.id) }}">
        <i class="fas fa-edit"></i>
        Edit
    </a>
    <a href="#">
        <i class="far fa-trash-alt"></i>
        Delete
    </a>
</section>

{% endblock %}